[mysqld]
server-id = 2
relay-log = /var/lib/mysql/mysql-relay-bin 
relay-log-index = /var/lib/mysql/mysql-relay-bin.index
read_only = 1  
log-bin = mysql-bin
binlog_format = ROW
bind-address = 0.0.0.0

slave_parallel_workers = 10
slave_parallel_type = LOGICAL_CLOCK
slave_preserve_commit_order = 1

max_connections = 2000
