[mysqld]
server-id = 2
relay-log = /var/lib/mysql/mysql-relay-bin 
relay-log-index = /var/lib/mysql/mysql-relay-bin.index
read_only = 1  
log-bin = mysql-bin
binlog_format = ROW
bind-address = 0.0.0.0

slave_parallel_workers = 100
slave_parallel_type = LOGICAL_CLOCK
slave_preserve_commit_order = 0

innodb_buffer_pool_size = 8G
innodb_flush_log_at_trx_commit = 0

max_connections = 30000
