[mysqld]
server-id = 1
log-bin = mysql-bin
binlog_format = ROW
bind-address = 0.0.0.0

innodb_buffer_pool_size = 4G
innodb_log_file_size = 1G
innodb_flush_log_at_trx_commit = 10

max_connections = 30000
